<a href="https://colab.research.google.com/github/rafazomb/academic-projects/blob/main/lista_de_exercicio_2_segundo_semestre.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Exercício 1
#Nome: Rafael Henrique
#Prof: Jose Fernando
cont = 1
while cont<=100:
  print(cont,",",end="")
  cont = cont + 1
  if cont == 26 or cont == 51 or cont == 76:
    print()

1 ,2 ,3 ,4 ,5 ,6 ,7 ,8 ,9 ,10 ,11 ,12 ,13 ,14 ,15 ,16 ,17 ,18 ,19 ,20 ,21 ,22 ,23 ,24 ,25 ,
26 ,27 ,28 ,29 ,30 ,31 ,32 ,33 ,34 ,35 ,36 ,37 ,38 ,39 ,40 ,41 ,42 ,43 ,44 ,45 ,46 ,47 ,48 ,49 ,50 ,
51 ,52 ,53 ,54 ,55 ,56 ,57 ,58 ,59 ,60 ,61 ,62 ,63 ,64 ,65 ,66 ,67 ,68 ,69 ,70 ,71 ,72 ,73 ,74 ,75 ,
76 ,77 ,78 ,79 ,80 ,81 ,82 ,83 ,84 ,85 ,86 ,87 ,88 ,89 ,90 ,91 ,92 ,93 ,94 ,95 ,96 ,97 ,98 ,99 ,100 ,

In [ ]:
#Exercício 2
#Nome: Rafael Henrique
#Prof: Jose Fernando
cont = 50
while cont<=100:
  print(cont,",",end="")
  cont = cont + 1S
  if cont == 76:
    print()

50 ,51 ,52 ,53 ,54 ,55 ,56 ,57 ,58 ,59 ,60 ,61 ,62 ,63 ,64 ,65 ,66 ,67 ,68 ,69 ,70 ,71 ,72 ,73 ,74 ,75 ,
76 ,77 ,78 ,79 ,80 ,81 ,82 ,83 ,84 ,85 ,86 ,87 ,88 ,89 ,90 ,91 ,92 ,93 ,94 ,95 ,96 ,97 ,98 ,99 ,100 ,

In [ ]:
#Exercício 3
#Nome: Rafael Henrique
#Prof: Jose Fernando
cont = 10
while cont>=0:
  print(cont,end="")
  if cont != 0:
    print(",",end="")
  cont = cont - 1
print(" Fogo!")

10,9,8,7,6,5,4,3,2,1,0 Fogo!

In [ ]:
#Exercício 4
#Nome: Rafael Henrique
#Prof: Jose Fernando
cont = 1
nume = 0
nume = int(input("Digite un número: "))
while cont <= nume:
  if cont % 2 == 1:
    print(cont,",",end="")
  cont = cont + 1

Digite un número: 21
1 ,3 ,5 ,7 ,9 ,11 ,13 ,15 ,17 ,19 ,21 ,

In [ ]:
#Exercício 5
#Nome: Rafael Henrique
#Prof: Jose Fernando
cont = 1
nume = 0
nume = int(input("Digite un número: "))
while cont <= nume:
  if cont % 3 == 0:
    print(cont,",",end="")
  cont = cont + 1

Digite un número: 30
3 ,6 ,9 ,12 ,15 ,18 ,21 ,24 ,27 ,30 ,

In [ ]:
#Exercício 6
#Nome: Rafael Henrique
#Prof: Jose Fernando
nume = 0
tabu = 0
nume = int(input("Digite um número para mostrar sua tabuada: "))
while tabu<=10:
  print(nume,"X",tabu,"=",nume*tabu)
  tabu = tabu + 1

Digite um número para mostrar sua tabuada: 6
6 X 0 = 0
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60

In [ ]:
#Exercício 7
#Nome: Rafael Henrique
#Prof: Jose Fernando
nume = 0
tabumin = 0
tabumax = 0
nume = int(input("Digite um número para mostrar sua tabuada: "))
tabumin = int(input("Digite o começo da tabuada desejada: "))
tabumax = int(input("Digite o fim da tabuada desejada: "))
while tabumin <= tabumax:
  print(nume,"X",tabumin,"=",nume*tabumin)
  tabumin = tabumin + 1

Digite um número para mostrar sua tabuada: 6
Digite o começo da tabuada desejada: 10
Digite o fim da tabuada desejada: 20
6 X 10 = 60
6 X 11 = 66
6 X 12 = 72
6 X 13 = 78
6 X 14 = 84
6 X 15 = 90
6 X 16 = 96
6 X 17 = 102
6 X 18 = 108
6 X 19 = 114
6 X 20 = 120

In [ ]:
#Exercício 8
#Nome: Rafael Henrique
#Prof: Jose Fernando
nume1 = 0
nume2 = 0
cont = 1
resul = 0
nume1 = int(input("Digite o primeiro número: "))
nume2 = int(input("Digite o segundo número: "))
while cont <= nume2:
  resul = resul + nume1
  cont = cont + 1
print("Multiplicando os dois números fica:",resul)

Digite o primeiro número: 6
Digite o segundo número: 4
Multiplicando os dois números fica:  24

In [ ]:
#Exercício 9
#Nome: Rafael Henrique
#Prof: Jose Fernando
nume1 = 0
nume2 = 0
resul = 0
nume1 = int(input("Digite o primeiro número: "))
nume2 = int(input("Digite o segundo número: "))
while nume1 >= nume2:
  nume1 = nume1 - nume2
  resul = resul + 1
print("O resultado da divisão do primeiro pelo segundo é de",resul)
if nume1 > 0:
  print("E sobra", nume1)

Digite o primeiro número: 11
Digite o segundo número: 5
O resultado da divisão do primeiro pelo segundo é de 2
E sobra 1

In [ ]:
#Exercício 10
#Nome: Rafael Henrique
#Prof: Jose Fernando
resp = ""
resul = 0
resp = str(input("Digite a alternativa da primeira questão: "))
if resp == "b" or resp == "B":
  resul = resul + 1
resp = str(input("Digite a alternativa da segunda questão: "))
if resp == "a" or resp == "A":
  resul = resul + 1
resp = str(input("Digite a alternativa da terceira questão: "))
if resp == "d" or resp == "D":
  resul = resul + 1
print("Total de acertos:",resul)

Digite a alternativa da primeira questão: c
Digite a alternativa da segunda questão: A
Digite a alternativa da terceira questão: d
Total de acertos: 2

In [ ]:
#Exercício 11
#Nome: Rafael Henrique
#Prof: Jose Fernando
depo = 0
taxa = 0.00
lucro = 0.00
mes = 1
depo = int(input("Digite o valor do deposito inicial: "))
taxa = float(input("Digite a taxa de juros em decimal(0.1 para 10% de juros): "))
taxa = taxa + 1
lucro = depo
while mes <= 24:
  lucro = lucro * taxa
  print("mes:",mes,"; saldo:",round(lucro,2))
  mes = mes + 1
print("Total ganho com juros:",round(lucro - depo,2))

Digite o valor do deposito inicial: 1000
Digite a taxa de juros em decimal(0.1 para 10% de juros): 0.1
mes: 1 ; saldo: 1100.0
mes: 2 ; saldo: 1210.0
mes: 3 ; saldo: 1331.0
mes: 4 ; saldo: 1464.1
mes: 5 ; saldo: 1610.51
mes: 6 ; saldo: 1771.56
mes: 7 ; saldo: 1948.72
mes: 8 ; saldo: 2143.59
mes: 9 ; saldo: 2357.95
mes: 10 ; saldo: 2593.74
mes: 11 ; saldo: 2853.12
mes: 12 ; saldo: 3138.43
mes: 13 ; saldo: 3452.27
mes: 14 ; saldo: 3797.5
mes: 15 ; saldo: 4177.25
mes: 16 ; saldo: 4594.97
mes: 17 ; saldo: 5054.47
mes: 18 ; saldo: 5559.92
mes: 19 ; saldo: 6115.91
mes: 20 ; saldo: 6727.5
mes: 21 ; saldo: 7400.25
mes: 22 ; saldo: 8140.27
mes: 23 ; saldo: 8954.3
mes: 24 ; saldo: 9849.73
Total ganho com juros: 8849.73

In [ ]:
#Exercício 12
#Nome: Rafael Henrique
#Prof: Jose Fernando
depo = 0
taxa = 0.00
lucro = 0.00
mes = 1
acre = 0
depo = int(input("Digite o valor do deposito inicial: "))
taxa = float(input("Digite a taxa de juros em decimal(0.1 para 10% de juros): "))
taxa = taxa + 1
lucro = depo
while mes <= 24:
  acre = int(input("Digite o valor depositado esse mês: "))
  lucro = lucro + acre
  depo = depo + acre
  lucro = lucro * taxa
  print("mes:",mes,"; saldo:",round(lucro,2))
  mes = mes + 1
print("Total ganho com juros:",round(lucro - depo,2))

Digite o valor do deposito inicial: 1000
Digite a taxa de juros em decimal(0.1 para 10% de juros): 0.1
Digite o valor depositado esse mês: 0
mes: 1 ; saldo: 1100.0
Digite o valor depositado esse mês: 100
mes: 2 ; saldo: 1320.0
Digite o valor depositado esse mês: 0
mes: 3 ; saldo: 1452.0
Digite o valor depositado esse mês: 1000
mes: 4 ; saldo: 2697.2
Digite o valor depositado esse mês: 0
mes: 5 ; saldo: 2966.92
Digite o valor depositado esse mês: 0
mes: 6 ; saldo: 3263.61
Digite o valor depositado esse mês: 250
mes: 7 ; saldo: 3864.97
Digite o valor depositado esse mês: 0
mes: 8 ; saldo: 4251.47
Digite o valor depositado esse mês: 750
mes: 9 ; saldo: 5501.62
Digite o valor depositado esse mês: 0
mes: 10 ; saldo: 6051.78
Digite o valor depositado esse mês: 110
mes: 11 ; saldo: 6777.96
Digite o valor depositado esse mês: 0
mes: 12 ; saldo: 7455.75
Digite o valor depositado esse mês: 0
mes: 13 ; saldo: 8201.33
Digite o valor depositado esse mês: 0
mes: 14 ; saldo: 9021.46
Digite o valor depositado esse mês: 1200
mes: 15 ; saldo: 11243.61
Digite o valor depositado esse mês: 0
mes: 16 ; saldo: 12367.97
Digite o valor depositado esse mês: 0
mes: 17 ; saldo: 13604.76
Digite o valor depositado esse mês: 300
mes: 18 ; saldo: 15295.24
Digite o valor depositado esse mês: 0
mes: 19 ; saldo: 16824.77
Digite o valor depositado esse mês: 250
mes: 20 ; saldo: 18782.24
Digite o valor depositado esse mês: 300
mes: 21 ; saldo: 20990.47
Digite o valor depositado esse mês: 0
mes: 22 ; saldo: 23089.51
Digite o valor depositado esse mês: 100
mes: 23 ; saldo: 25508.46
Digite o valor depositado esse mês: 0
mes: 24 ; saldo: 28059.31
Total ganho com juros: 22699.31

In [ ]:
#Exercício 13 falta terminar
#Nome: Rafael Henrique
#Prof: Jose Fernando
divi = 0
juros = 0.0
pmes = 0
perda = 0.0
mes = 0
comju = 0.0
divi = int(input("Digite o valor inicial da divida: "))
juros = float(input("Digite o juros em decimal(0.1 para 10% de juros): "))
pmes = int(input("Digite o valor pago por mês: "))
juros = juros + 1
perda = divi
while divi >= pmes:
  divi = (divi * juros) - pmes
  mes = mes + 1
  comju = divi + (pmes * mes)
if divi > 0:
  mes = mes + 1
comju = comju - perda
print(mes,"meses para pagar a divida com",comju,"reais a mais de juros")

Digite o valor inicial da divida: 1000
Digite o juros em decimal(0.1 para 10% de juros): 0.1
Digite o valor pago por mês: 500
3 meses para pagar a divida com 160.0 reais a mais de juros

In [ ]:
#Exercício 14
#Nome: Rafael Henrique
#Prof: Jose Fernando
nume = 1
qnt = 0
total = 0
media = 0
while nume != 0:
  nume = int(input("Digite um número ou digite 0 para finalizar: "))
  if nume == 0:
    break
  qnt = qnt + 1
  total = total + nume
media = total / qnt
print(qnt,"números digitados;")
print(total,"total da soma deles;")
print(media,"media dos numeros")

Digite um número ou digite 0 para finalizar: 1
Digite um número ou digite 0 para finalizar: 2
Digite um número ou digite 0 para finalizar: 3
Digite um número ou digite 0 para finalizar: 4
Digite um número ou digite 0 para finalizar: 5
Digite um número ou digite 0 para finalizar: 0
5 números digitados;
15 total da soma deles;
3.0 media dos numeros

In [ ]:
#Exercício 15
#Nome: Rafael Henrique
#Prof: Jose Fernando
code = 1
qnt = 0
total = 0.0
while code != 0:
  code = int(input("Digite o codigo do produto: "))
  if code == 0:
    print("Total a pagar: R$",total)
    break
  qnt = int(input("Digite a quantidade desse produto: "))
  if code == 1:
    total = total + (qnt*0.5)
  elif code == 2:
    total = total + (qnt*1)
  elif code == 4:
    total = total + (qnt*4)
  elif code == 5:
    total = total + (qnt*7)
  elif code == 9:
    total = total + (qnt*8)
  else:
    print("Codigo Invalido")

Digite o codigo do produto: 1
Digite a quantidade desse produto: 2
Digite o codigo do produto: 2
Digite a quantidade desse produto: 4
Digite o codigo do produto: 4
Digite a quantidade desse produto: 2
Digite o codigo do produto: 5
Digite a quantidade desse produto: 1
Digite o codigo do produto: 6
Digite a quantidade desse produto: 0
Codigo Invalido
Digite o codigo do produto: 9
Digite a quantidade desse produto: 1
Digite o codigo do produto: 0
Total a pagar: R$ 28.0

In [ ]:
#Exercício 16
#Nome: Rafael Henrique
#Prof: Jose Fernando
dinhe = 0
nota50 = 0
nota20 = 0
nota10 = 0
nota5 = 0
nota1 = 0
dinhe = int(input("Digite um número inteiro: "))
while dinhe >= 50:
  dinhe = dinhe - 50
  nota50 = nota50 + 1
print(nota50,"notas de 50 reais")
while dinhe >= 20:
  dinhe = dinhe - 20
  nota20 = nota20 + 1
print(nota20,"notas de 20 reais")
while dinhe >= 10:
  dinhe = dinhe - 10
  nota10 = nota10 + 1
print(nota10,"notas de 10 reais")
while dinhe >= 5:
  dinhe = dinhe - 5
  nota5 = nota5 + 1
print(nota5,"notas de 5 reais")
while dinhe >= 1:
  dinhe = dinhe - 1
  nota1 = nota1 + 1
print(nota1,"notas de 1 reais, para chegar no valor digitado")

Digite um número inteiro: 0
0 notas de 50 reais
0 notas de 20 reais
0 notas de 10 reais
0 notas de 5 reais
0 notas de 1 reais, para chegar no valor digitado

In [ ]:
#Exercício 18
#Nome: Rafael Henrique
#Prof: Jose Fernando
dinhe = 0
nota100 = 0
nota50 = 0
nota20 = 0
nota10 = 0
nota5 = 0
nota1 = 0
dinhe = int(input("Digite um número inteiro: "))
while dinhe >= 100:
  dinhe = dinhe - 100
  nota100 = nota100 + 1
print(nota100,"notas de 100 reais")
while dinhe >= 50:
  dinhe = dinhe - 50
  nota50 = nota50 + 1
print(nota50,"notas de 50 reais")
while dinhe >= 20:
  dinhe = dinhe - 20
  nota20 = nota20 + 1
print(nota20,"notas de 20 reais")
while dinhe >= 10:
  dinhe = dinhe - 10
  nota10 = nota10 + 1
print(nota10,"notas de 10 reais")
while dinhe >= 5:
  dinhe = dinhe - 5
  nota5 = nota5 + 1
print(nota5,"notas de 5 reais")
while dinhe >= 1:
  dinhe = dinhe - 1
  nota1 = nota1 + 1
print(nota1,"notas de 1 reais, para chegar no valor digitado")

Digite um número inteiro: 289
2 notas de 100 reais
1 notas de 50 reais
1 notas de 20 reais
1 notas de 10 reais
1 notas de 5 reais
4 notas de 1 reais, para chegar no valor digitado

In [ ]:
#Exercício 19
#Nome: Rafael Henrique
#Prof: Jose Fernando
dinhe = 0.0
nota100 = 0
nota50 = 0
nota20 = 0
nota10 = 0
nota5 = 0
nota1 = 0
moeda50 = 0
moeda10 = 0
moeda5 = 0
moeda2 = 0
moeda1 = 0
dinhe = float(input("Digite um número inteiro: "))
while dinhe >= 100:
  dinhe = dinhe - 100
  nota100 = nota100 + 1
print(nota100,"notas de 100 reais")
while dinhe >= 50:
  dinhe = dinhe - 50
  nota50 = nota50 + 1
print(nota50,"notas de 50 reais")
while dinhe >= 20:
  dinhe = dinhe - 20
  nota20 = nota20 + 1
print(nota20,"notas de 20 reais")
while dinhe >= 10:
  dinhe = dinhe - 10
  nota10 = nota10 + 1
print(nota10,"notas de 10 reais")
while dinhe >= 5:
  dinhe = dinhe - 5
  nota5 = nota5 + 1
print(nota5,"notas de 5 reais")
while dinhe >= 1:
  dinhe = dinhe - 1
  nota1 = nota1 + 1
print(nota1,"notas de 1 real")
while dinhe >=0.5:
  dinhe = dinhe - 0.5
  moeda50 = moeda50 + 1
print(moeda50,"moedas de 50 centavos")
while dinhe >=0.1:
  dinhe = dinhe - 0.1
  moeda10 = moeda10 + 1
print(moeda10,"moedas de 10 centavos")
while dinhe >=0.5:
  dinhe = dinhe - 0.5
  moeda50 = moeda50 + 1
print(moeda50,"moedas de 5 centavos")
while dinhe >=0.02:
  dinhe = dinhe - 0.02
  moeda2 = moeda2 + 1
print(moeda50,"moedas de 2 centavos")
while dinhe >=0.01:
  dinhe = dinhe - 0.01
  moeda1 = moeda1 + 1
print(moeda1,"moedas de 1 centavo, para chegar ao valor")

Digite um número inteiro: 0.001
0 notas de 100 reais
0 notas de 50 reais
0 notas de 20 reais
0 notas de 10 reais
0 notas de 5 reais
0 notas de 1 real
0 moedas de 50 centavos
0 moedas de 10 centavos
0 moedas de 5 centavos
0 moedas de 2 centavos
0 moedas de 1 centavo, para chegar ao valor

In [ ]:
#Exercício 21
#Nome: Rafael Henrique
#Prof: Jose Fernando
dinhe = 1
nota100 = 0
nota50 = 0
nota20 = 0
nota10 = 0
nota5 = 0
nota1 = 0
moeda50 = 0
moeda10 = 0
moeda5 = 0
moeda2 = 0
moeda1 = 0
while dinhe != 0:
 dinhe = int(input("Digite um número nteiro: "))
 if dinhe == 0:
   break
 while dinhe >= 50:
   dinhe = dinhe - 50
   nota50 = nota50 + 1
 print(nota50,"notas de 50 reais")
 while dinhe >= 20:
   dinhe = dinhe - 20
   nota20 = nota20 + 1
 print(nota20,"notas de 20 reais")
 while dinhe >= 10:
   dinhe = dinhe - 10
   nota10 = nota10 + 1
 print(nota10,"notas de 10 reais")
 while dinhe >= 5:
   dinhe = dinhe - 5
   nota5 = nota5 + 1
 print(nota5,"notas de 5 reais")
 while dinhe >= 1:
   dinhe = dinhe - 1
   nota1 = nota1 + 1
 print(nota1,"notas de 1 real")
 dinhe = 1

Digite um número nteiro: 100
2 notas de 50 reais
0 notas de 20 reais
0 notas de 10 reais
0 notas de 5 reais
0 notas de 1 real
Digite um número nteiro: 159
5 notas de 50 reais
0 notas de 20 reais
0 notas de 10 reais
1 notas de 5 reais
4 notas de 1 real
Digite um número nteiro: 2
5 notas de 50 reais
0 notas de 20 reais
0 notas de 10 reais
1 notas de 5 reais
6 notas de 1 real
Digite um número nteiro: 0

In [ ]:
#Exercício 22
#Nome: Rafael Henrique
#Prof: Jose Fernando
nume = 0
escolha = 0
aux = 0
while escolha != 5:
  nume = int(input("Digite um número: "))
  print("Escolha o tipo de tabuada para esse número:")
  print("[1]Adição        [2]Subtração")
  print("[3]Multiplicação [4]Divisão")
  escolha = int(input("[5]Encerrar programa   Escolha: "))
  if escolha == 1:
    for aux in range(10):
      print(nume,"+",aux+1,"=",(nume+aux+1))
  elif escolha == 2:
    for aux in range(10):
      print(nume,"-",aux+1,"=",(nume-aux+1))
  elif escolha == 3:
    for aux in range(10):
      print(nume,"*",aux+1,"=",nume*(aux+1))
  elif escolha == 4:
    for aux in range(10):
      print(nume,"/",aux+1,"=",nume/(aux+1))
  elif escolha == 5:
    print("Programa encerrado.")
  else:
    print("Escolha invalida.")

Digite um número: 2
Escolha o tipo de tabuada para esse número:
[1]Adição        [2]Subtração
[3]Multiplicação [4]Divisão
[5]Encerrar programa   Escolha: 1
2 + 1 = 3
2 + 2 = 4
2 + 3 = 5
2 + 4 = 6
2 + 5 = 7
2 + 6 = 8
2 + 7 = 9
2 + 8 = 10
2 + 9 = 11
2 + 10 = 12
Digite um número: 5
Escolha o tipo de tabuada para esse número:
[1]Adição        [2]Subtração
[3]Multiplicação [4]Divisão
[5]Encerrar programa   Escolha: 2
5 - 1 = 6
5 - 2 = 5
5 - 3 = 4
5 - 4 = 3
5 - 5 = 2
5 - 6 = 1
5 - 7 = 0
5 - 8 = -1
5 - 9 = -2
5 - 10 = -3
Digite um número: 2
Escolha o tipo de tabuada para esse número:
[1]Adição        [2]Subtração
[3]Multiplicação [4]Divisão
[5]Encerrar programa   Escolha: 3
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
Digite um número: 2
Escolha o tipo de tabuada para esse número:
[1]Adição        [2]Subtração
[3]Multiplicação [4]Divisão
[5]Encerrar programa   Escolha: 4
2 / 1 = 2.0
2 / 2 = 1.0
2 / 3 = 0.6666666666666666
2 / 4 = 0.5
2 / 5 = 0.4
2 / 6 = 0.3333333333333333
2 / 7 = 0.2857142857142857
2 / 8 = 0.25
2 / 9 = 0.2222222222222222
2 / 10 = 0.2
Digite um número: 1
Escolha o tipo de tabuada para esse número:
[1]Adição        [2]Subtração
[3]Multiplicação [4]Divisão
[5]Encerrar programa   Escolha: 5
Programa encerrado.

In [ ]:
#Exercicio 23
#Nome: Rafael Henrique
#Prof: Jose Fernando
nume = 0
primo = 0
divi = 0
veri = 0
nume = int(input("Digite um numero para verificar se ele é primo: "))
divi = nume
while divi>2:
 divi = divi - 1
 veri = nume % divi
 if veri==0:
  primo = 1
  divi = 1
if primo == 0:
  print("Esse numero é primo.")
elif primo == 1:
  print("Esse numero não é primo.")

Digite um numero para verificar se ele é primo: 53
Esse numero é primo.

In [ ]:
#Exercicio 24
#Nome: Rafael Henrique
#Prof: Jose Fernando
nume = 2
primo = 0
divi = 0
veri = 0
total = 0
qnts = 0
qnts = int(input("Quantos números primos deseja saber em ordem crescente: "))
while qnts > total:
  primo = 0
  divi = nume
  while divi>2:
   divi = divi - 1
   veri = nume % divi
   if veri==0:
    primo = 1
    divi = 1
  if primo == 0:
    print(nume, "é primo.")
    total = total + 1
  nume = nume + 1

Quantos números primos deseja saber em ordem crescente: 10
2 é primo.
3 é primo.
5 é primo.
7 é primo.
11 é primo.
13 é primo.
17 é primo.
19 é primo.
23 é primo.
29 é primo.

In [ ]:
#Exercício 25
#Nome: Rafael Henrique
#Prof: Jose Fernando
nume = 0
nume = int(input("Digite um número para calcular sua raiz quadrada: "))
print(nume**0.5)

Digite um número para calcular sua raiz quadrada: 9
3.0

In [ ]:
#Exercício 26
#Nome: Rafael Henrique
#Prof: Jose Fernando
nume1 = 0
nume2 = 0
nume1 = int(input("Digite o primeiro número da divisão: "))
nume2 = int(input("Digite o segundo número da divisão: "))
while nume1 >= nume2:
  nume1 = nume1 - nume2
print(nume1,"é o resto dessa divisão.")

Digite o primeiro número da divisão: 15
Digite o segundo número da divisão: 6
3 é o resto dessa divisão.

In [ ]:
#Exercício 27
#Nome: Rafael Henrique
#Prof: Jose Fernando
nume = ""
inver = ""
nume = str(input("Digite um número: "))
for x in nume:
  inver = x + inver
if nume == inver:
  print("Esse número é um palíndromo.")
else:
  print("Esse número não é um palíndromo.")